/* ===DEFAILT=== */
h1,h2,h3,h4,h5,h6,p {
        margin-top: 0;
        margin-bottom: 0;
}
ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;

}
button {
    cursor: pointer;
    display: block;
}
img {
        display: block;
}
.container{
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;

}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #ffffff;
}

.section {
        padding-top: 120px;
        padding-bottom: 120px;
}
/* ===HEADER=== */
.page-header {
        border-bottom: 1px solid #e7e9fc;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
}
.page-nav{
        display: flex;
        align-items: center;
}
.page-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        margin-right: 76px;
}

.black-text {
    color: #2e2f42
}
.nav-list{
        display: flex;
        /* margin-left: 76px; */
        gap: 40px;
        
}

.nav-list-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;

}

.nav-list-link:hover,
.nav-list-link:focus {
    color: #404bbf;   
}

.page-address {
    font-style: normal;
}
.disp-address{
        display: flex;
        justify-content: space-between;
}
.page-address-list{
        display: flex;
        gap: 40px;
}
.page-address-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        
}

.page-address-link:hover,
.page-address-link:focus {
    color: #404bbf;
}

/* ===Main=== */
.main-container {
        padding-left: 320px;
        padding-right: 319px;
}
.page-main-section {
    /* background: #2e2f42; */
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0;

    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-background.jpg"); 
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
    
        
    
}

.page-main-header {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;
        max-width: 496px;
        margin-bottom: 48px;
}

.page-main-button {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background: #4d5ae5;
        min-width: 169px;
        height: 56px; 
        border-radius: 4px;
        border: none;
        padding: 16px 32px;
        margin-left: 160px;
        margin-right: 160px;

}
.page-main-button:hover,
.page-main-button:focus {
    background-color: #404BBF
}

/* ===Strategy=== */
.page-strategy-list {
        display: flex;
        gap: 24px;
        /* padding-top: 119px;
        padding-bottom: 103px; */
}
.page-strategy-item {
        width: calc((100% - 72px) / 4);
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.page-strategy-item-header{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}
.page-strategy-item-paragraph{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}


/* ===TEAM=== */
.page-team-list {
        display: flex;
        gap: 24px;
        padding-bottom: 120px;
        
}

.page-team-section {
        background: #f4f4fd;
}
.page-team-list-item{
        
        background-color: #FFFFFF;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        width: calc((100% - 72px) / 4);
        /* height: 380px; */
}

.page-team-header {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        /* padding-top: 120px; */
        margin-bottom: 72px;
}

.page-team-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center; 
        color: #2e2f42;
        margin-bottom: 8px;
}

.name-prof-container{
        padding: 32px 0;
}

.page-team-proffesion {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

/* ===PORTFOLIO=== */
.page-portfolio-list {
        display: flex;
        flex-wrap: wrap;
        gap: 48px 24px;
        /* padding-bottom: 120px; */
        
}
.page-portfolio-list-item {
        width: calc((100% - 48px) / 3);
        /* height: calc((100% - 48px) / 2); */
}  
.name-title-container{
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
}
.page-portfolio-header {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        /* border: 1px solid red; */
        /* padding-top: 120px; */
        margin-bottom: 72px;
}

.page-portfolio-item-header {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.page-portfolio-item-name {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* ===Footer=== */
.page-basement {
    background: #2e2f42;
    padding: 100px 0;
}

.basement-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;
}

.white-text {
        color: #f4f4fd;
}

.basement-paragraph{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding-right: 865px;
}
